/* Rules for out imported fonts
   font-family: 'Abel', sans-serif;
   font-family: 'Anton', sans-serif;
*/

:root {
    --primary-color: #F0F0F0;
    --secondary-color: #E6E6E6;
    --design-color: #E6563B;
    --develop-color: #EB9D3A;
    --support-color: #7CB06C;
    --host-color: #00ABA9;
}

body {
    height: 100vh;
    background: #E6E6E6;
}
/* row color */
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/

#logo {
    height: 105px;
    width: 105px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 5vh;
}
h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3vh;
}

.location {
    margin-top: 75px;
    }

.circle-div {
    margin-top: 75px;
}

.circles {
    font-family: 'Anton', sans-serif;
    font-size: 2vh;
    height: 200px;
    width:200px;
    padding-top: 50px;
    border: #F0F0F0;
    border-width: 15px;
    border-style: solid;
    color: #F0F0F0;
}

.circles-small {
    font-family: 'Anton', sans-serif;
    height: 50px;
    width: 50px;
    font-size: 1.5vh;
    padding-top: .3vh;
}

.design {
    background-color: #E6563B;
    border-radius: 50%;
    margin-right: 50px;
}
.develop {
    background-color: #EB9D3A;
    border-radius: 50%;
}
.support {
    background-color: #7CB06C;
    border-radius: 50%;
    margin-right:  50px;
}
.host {
    background-color: #00ABA9;
    border-radius: 50%;
}

.design-small {
    background-color: #E6563B;
    border-radius: 50%;
}
h5 {
    font-size: 1.5vh;
    padding-top: .5vh;
}
.support-small {
    background-color: #7CB06C;
    border-radius: 50%;
}
.circle-2 {
    margin-top: 50px;
}
.selected {
    margin-top: 75px;
    font-size: 1.5vh;
    font-family: 'Abel', sans-serif;
}
